$app_white: white;

$primary_color: #367cff;
$second_color: #172133;
$third_color: #f9f1e6;

$second_shadow_color: #1e2b4136;

.home_comp {
    .form_comp {
        margin: 10vh auto;
        width: 40vw;
        height: 20vh;
        box-shadow: $second_shadow_color 0px 10px 30px;
        border-top: 7px solid $primary_color;
        background-color: $app_white;
        padding: 30px;

        .select_comp {
            display: grid;
            grid-template-columns: 50% 50%;
        }
        .summary_comp {
            margin-top: 20px;
        }

        @media screen and (max-width: 768px) {
            width: 80vw; /* Adjust the width for smaller screens */
            height: auto; /* Allow the height to adjust based on content */
            padding: 20px; /* Reduce padding on smaller screens if necessary */
            .select_comp {
                grid-template-columns: 100%; /* Make the select_comp stack on top of each other */
            }
        }
    }
}
